
label{
    font-size: 12pt;
}
.formLayout
    {
        background-color: gray;
        padding: 10px;
        width: 430px;
        height: 150px;
        text-align:center;
    }
    
    .formLayout label, .formLayout input
    {
        display: block;
        width: 200px;
        height: 30px;
        float: left;
        margin-bottom: 10px;
    }
 
    .formLayout label
    {
        text-align: right;
        vertical-align: middle;
        margin-right: 20px;
        //font-size: 0.5em;
    }

    .formLayout input[type="text"]{
        border: solid 1px black;
    }
 